.card {
  box-shadow: 5px 5px 5px -5px rgba(16, 16, 17, 0.6);
  margin-bottom: 30px;
  border-radius: 20px;
  transition: transform $trans-default;
  cursor: pointer;
  min-width: 180px;

  &:hover {
    transform: scale(1.05);
  }
}
.card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.card__name {
  text-align: center;
  font-family: $font-monserrat;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding: 10px;
}

.card__description {
  padding: 20px;
  text-align: center;
  font-family: $font-monserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card__price-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 20px;
}

.card__discount {
  font-size: 24px;
  color: $color-secondary;
  font-weight: 700;
}

.card__price-wrap:has(.card__discount) .card__price {
  text-decoration: line-through;
}

.card__weight {
  order: 3;
}

.card__button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.card__button {
  width: 100%;
  height: 40px;
  line-height: 1;
}