.catalogIntro__image {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 393/180;
    display: block;

    @include vp-768 {
      aspect-ratio: 1280/308;
    }
  }
}
