.catalog {
  padding-top: 32px;
  padding-bottom: 16px;

  .titleProstoOne {
    text-align: center;
  }

  @include vp-768 {
    padding-top: 40px;
    padding-bottom: 82px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  flex: 0 0 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 30px;

  @include vp-768 {
    flex-basis: 32%;
    padding-bottom: 40px;
  }
}

.catalog__item img {
  object-fit: cover;
  aspect-ratio: 172/172;
  width: 100%;
  height: auto;
}

.catalog__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: $color-primary;
  align-items: center;
  transition: transform $trans-default;

  h3 {
    padding-top: 16px;
  }
}

.catalog__link:hover {
  transform: scale(1.05);
}

.catalog__wrap {
  display: flex;
  flex-direction: column;

  @include vp-768 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
      'filter sort'
      'filter items';
  }
}

.catalog__navigation {
  display: flex;
  flex-direction: column;

  @include vp-768 {
    grid-area: filter;
  }
}

.hidden {
  display: none;
}

.catalog__categories {
  padding-bottom: 50px;
}

.catalog__categories-list {
  padding-left: 0;
}

.category__item {
  list-style-type: none;
}

.subcategory__item {
  font-size: 0.8rem;
  padding-left: 10px;
}

.category__link {
  cursor: pointer;
}

.catalog__category-classic,
.catalog__category-breakfast {
  padding-bottom: 10px;
}

.catalog__filter {
  display: flex;
  flex-direction: column;
}

.filter-origin__title,
.filter-flavor__title {
  font-weight: 500;
  padding-bottom: 5px;
}

.filter-origin__list,
.filter-flavor__list {
  padding-left: 0;
}

.filter-origin__list {
  padding-bottom: 35px;
}

.filter-origin__item,
.filter-flavor__item {
  list-style-type: none;
  padding: 5px 0;
}

.filter-origin__input,
.filter-flavor__input {
  margin-right: 10px;
}

.catalog__sortSearch {
  display: flex;
  justify-content: space-between;

  @include vp-768 {
    grid-area: sort;
  }
}



.catalog__sort {

}

.catalog__items {
  @include vp-768 {
    grid-area: items;
  }
}
