.checkbox {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-family: $font-monserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: solid 1px $color-primary;
  background-color: $color-transparent;
}

label span:after {
  content: '';
  position: absolute;
  display: none;
  left: 3px;
  top: 0;
  width: 5px;
  height: 8px;
  border: solid $color-primary;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

label input:checked ~ span:after {
  display: block;
}
