.error {
  padding-top: 50px;
  padding-bottom: 50px;
}

.error__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__404 {
  font-size: 44px;
}

.error__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.error__text span {
  text-align: center;
}

.error__description a {
  font-size: 24px;
  width: fit-content;
  padding: 20px;
}

.error__404 {
  text-align: center;
  font-size: 80px;
  font-family: $font-prosto;
  font-weight: 800;
  margin: 20px 15px;

  @include vp-768 {
    font-size: 180px;
  }
}

.error__404 > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: $color-outline;
}
.error__404 > span > span {
  display: inline-block;
  position: relative;
}
.error__404 > span:nth-of-type(1) {
  perspective: 1000px;
  perspective-origin: 500% 50%;
  color: $color-secondary;
}
.error__404 > span:nth-of-type(1) > span {
  transform-origin: 50% 100% 0px;
  transform: rotateX(0);
  animation: easyoutelastic 8s infinite;
}

.error__404 > span:nth-of-type(3) {
  perspective: none;
  perspective-origin: 50% 50%;
  color: $color-secondary;
}
.error__404 > span:nth-of-type(3) > span {
  transform-origin: 100% 100% 0px;
  transform: rotate(0deg);
  animation: rotatedrop 8s infinite;
}
@keyframes easyoutelastic {
  0% {
    transform: rotateX(0);
  }
  9% {
    transform: rotateX(210deg);
  }
  13% {
    transform: rotateX(150deg);
  }
  16% {
    transform: rotateX(200deg);
  }
  18% {
    transform: rotateX(170deg);
  }
  20% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(180deg);
  }
  80% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  15% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotateX(0);
  }
}
