.navbar .navbar__container li {
  list-style: none;
}

.navbar .navbar__container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar__container {
  display: block;
  position: relative;
  height: 40px;
}

.navbar__menu {
  display: none;
}
