.sum {
  background-color: $color-background-variant;
  font-family: $font-monserrat;
  margin-bottom: 24px;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sum__title {
  text-transform: none;
  margin-top: 16px;
}

.sum__subtotal {
  text-transform: none;
  font-weight: 400;
}

.sum__wrap {
  display: flex;
  justify-content: space-between;
}

.sum__button {
  width: 100%;
  margin-bottom: 16px;
  max-width: 359px;
  align-self: center;
}

.sum__text {
  opacity: 0.7;
  font-family: $font-monserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.sum__line {
  height: 1px;
  align-self: center;
  width: 80%;
  background-color: $color-outline;
}

.sum__link {
  align-self: center;
  margin-bottom: 32px;
}
