@import '../../../style/sass/variables.scss';

.login-page {
  display: flex;
  justify-content: space-between;
  padding: 8px 76px 0;
}

.login__container {
  max-width: 552px;
  width: 100%;
  background-color: $color-background-variant;
  padding: 43px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__title {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 12px;
}

.login__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 26px;
}

.login__email-input-container {
  height: 56px;
  margin-bottom: 46px;
}

.login__email-input {
  height: 100%;
  width: 100%;
  padding-left: 40px;
}

.login__email-icon {
  background: url(../../../assets/svg/mail.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  top: 19px;
  left: 12px;
  z-index: 3;
}

.login__password-input-container {
  height: 56px;
  margin-bottom: 46px;
  width: 100%;
}

.login__password-input {
  height: 100%;
  width: 100%;
  padding: 0 40px;
}

.login__password-icon {
  background: url(../../../assets/svg/redeem.svg);
  position: absolute;
  width: 20px;
  height: 19px;
  top: 17px;
  left: 12px;
  z-index: 3;
}

.login__showpassword-icon {
  background: url(../../../assets/svg/password-icon.svg);
  background-size: cover;
  position: absolute;
  border: none;
  width: 25px;
  height: 25px;
  top: 16px;
  left: 296px;
  z-index: 5  ;
  cursor: pointer;
}

.login__button {
  height: 56px;
  width: 100%;
  background-color: $color-primary;
  color: $color-on-primary;
  border: none;
  cursor: pointer;
}

.registration__container {
  max-width: 456px;
  width: 100%;
  background-color: $color-background-variant;
  padding: 36px 36px 51px;
  display: flex;
  flex-direction: column;
}

.registration__title {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 12px;
}

.registration__advantages-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 0;
  margin-bottom: 40px;
}

.registration__advantages-option {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-top: 20px;
  list-style-type: none;
}

.registration__advantages-option:before {
  content: url(../../../assets/svg/expand_more.svg);
  padding: 0 10px;
}


.registration__button {
  height: 56px;
  width: 100%;
  cursor: pointer;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 56px;


  .input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.form-item label {
  position: absolute;
  top: 53px;
  left: 0;
  display: block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.16px;
  padding-top: 3px;
}
.form-item--error {
  .input {
    border: 2px solid $color-error;
    outline: none;
  }

  label {
    color: $color-error;
  }
}
