@import '../../../style/sass/variables.scss';

.login-page {
  padding: 72px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.login__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .login__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.login__container {
  max-width: 552px;
  width: 100%;
  background-color: $color-background-variant;
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__title {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

.login__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.login__email-input-container {
  height: 56px;
  margin-bottom: 46px;
}

.login__email-input {
  height: 100%;
  width: 100%;
  padding-left: 45px;

  &::placeholder {
    padding: 0;
  }
}

.login__email-icon {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 16px;
  left: 12px;
  z-index: 3;
}

.login__password-input-container {
  height: 56px;
  margin-bottom: 120px;
  width: 100%;
}

.login__password-input {
  height: 100%;
  width: 100%;
  padding: 0 65px 0 45px;

  &::placeholder {
    padding: 0;
  }
}

.login__password-icon {
  position: absolute;
  width: 24px;
  height: 25px;
  top: 16px;
  left: 12px;
  z-index: 3;
}

.login__showpassword-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 0;
  z-index: 4;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}

.login__button {
  height: 56px;
  width: 100%;
  background-color: $color-primary;
  color: $color-on-primary;
  border: none;
  cursor: pointer;
}

.registration__container {
  max-width: 456px;
  width: 100%;
  background-color: $color-background-variant;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.registration__title {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

.registration__advantages-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 0;
  margin-bottom: 60px;
}

.registration__advantages-option {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-top: 20px;
  list-style-type: none;
}

.registration__advantages-option:before {
  content: url(../../../assets/svg/expand_more.svg);
  padding: 0 10px;
}

.registration__button {
  height: 56px;
  width: 100%;
  cursor: pointer;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 56px;

  .input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .input:focus {
    border: 2px solid $color-on-secondary;
    outline: none;
  }
}

.form-item label {
  position: absolute;
  top: 53px;
  left: 0;
  display: block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.16px;
  padding-top: 3px;
  transition: all 0.5s linear;
}
.form-item--error {
  .input {
    border: 2px solid $color-error;
    outline: none;
  }

  label {
    color: $color-error;
  }
}

@media (max-width: 480px) {
  .login__container,
  .registration__container {
    padding: 20px;
  }
}
