@import '../../../style/sass/variables.scss';

.profile-page__container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 40px;
}

.profile-page__content {
  min-height: 700px;
}

.profile-data,
.profile-data-form,
.profile-page__content,
.profile-content__addresses,
.buttons__content {
  display: flex;
  flex-direction: column;
}

.profile-page-btns {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-data {
  padding-bottom: 20px;
  padding: 20px 40px;
  background-color: $color-background-variant;
}

.profile-data-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.11px;
}

.profile-data-form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 20px 0px 40px 0px;
}

.profile-data-btns {
  display: flex;
  align-items: center;
}

.address-data-form {
  padding: 20px 0px 20px 0px;
}

.profile-page__content,
.profile-content__addresses {
  gap: 40px;
  max-width: 552px;
  width: 100%;
}

.profile-data-title {
  text-align: center;
}

.profile-element {
  width: 100%;
  max-width: 552px;
  height: 56px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  cursor: auto;
}

.profile-element--hidden {
  appearance: none;
  opacity: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  background-color: $color-background-variant;
}

.profile-data-item .form-item--error {
  display: flex;
}

.form-item {
  display: flex;
  width: 100%;
  max-width: 476px;
}

.profile-data-btn {
  cursor: pointer;
  width: fit-content;
  background-color: $color-background-variant;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
  margin: 0 auto;
}

.address-details {
  padding-bottom: 30px;
}

.address-checkboxes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-checkboxes-container__checkboxes {
  display: flex;
  gap: 10px;
}

.address-checkboxes-container__checkboxes:first-child {
  border-bottom: 1px solid;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.profile-data-btn:disabled,
.profile-content__btn:disabled {
  opacity: 1;
  color: $color-primary;
}
