@import '../../../style/sass/variables.scss';

.profile-page__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.profile-page__content,
.profile-data {
  display: flex;
  flex-direction: column;
}

.profile-data {
  padding-bottom: 20px;
  padding: 20px 40px;
  background-color: $color-background-variant;
}

.profile-data-title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.11px;
}

.profile-data-form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 20px 0px 40px 0px;
}

.profile-page__content {
  gap: 40px;
  max-width: 552px;
  width: 100%;
}

.profile-data-title {
  text-align: center;
}

.profile-input {
  width: 100%;
  max-width: 552px;
  height: 56px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  cursor: auto;
}

.profile-input--hidden {
  outline: none;
  border: none;
  border-bottom: 1px solid;
  background-color: $color-background-variant;
}

.profile-data-item .form-item--error {
  display: flex;
}

.form-item {
  display: flex;
  width: 100%;
  max-width: 476px;
}

.profile-btn-submit {
  cursor: pointer;
  width: fit-content;
  background-color: $color-background-variant;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
  margin: 0 auto;
}
