@import '../../../style/sass/variables.scss';
$color-error: #ff0000;
$font-Montserrat: Montserrat;

.registration-page {
  font-family: Montserrat;
  color: $color-primary;

  .registration-page__content {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
  }
}

.registration-form-container {
  background-color: $color-background-variant;
  padding: 36px 36px 48px 36px;
  max-width: 528px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.11px;
  }

  .description {
    font-weight: 400;
  }
}

.form-description {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.form {
  padding-top: 19px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.adresses-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.adress-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .checkbox {
    line-height: 1;
  }
}

.adress-container,
.common-data-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.adress-container__description {
  font-weight: 500;
}

.registration-form__input::placeholder {
  padding: 0px;
}

.registration-form__input[has-icon='true'] {
  padding-left: 48px;
}

.form-item {
  position: relative;
  display: flex;
  height: 60px;
  flex-direction: column;

  .input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .input-icon {
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }

  .input-icon[position='start'] {
    left: 10px;
    top: 12px;
  }

  .input-icon[position='end'] {
    right: 10px;
    top: 12px;
  }
}

.input[type='password'],
.registration-form__input,
.select {
  width: 100%;
  max-width: 456px;
  height: 56px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  cursor: auto;
}

.select {
  margin-bottom: 0px;
}

.name-input-icon,
.surname-input-icon {
  background: url(../../../assets/image/person-icon.svg);
}

.age-input-icon {
  background: url(../../../assets/image/calendar-icon.svg);
}

.email-input-icon {
  background: url(../../../assets/image/test/mail.svg);
}

.password-input-icon {
  cursor: pointer;
  background: url(../../../assets/image/password-icon.svg);
}

.registration-form__button {
  width: 100%;
  max-width: 456px;
  height: 66px;
  margin-top: 20px;
}

.popup {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
}

.popup-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 350%);
  width: 300px;
  height: fit-content;
  padding: 10px;
  top: 50%;
  text-align: center;
  background-color: $color-background-variant;
  bottom: 0;
}

input[type='checkbox']:disabled {
  cursor: default;
}

.form-item--help,
.form-item--error {
  margin-bottom: 13px;
  padding: 57px 0px 20px 3px;
}

.form-item label {
  position: absolute;
  display: block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.16px;
  padding-top: 3px;
}

.form-item--error {
  .input,
  .select {
    border: 2px solid $color-error;
    outline: none;
  }

  label {
    color: $color-error;
  }
}

.login-container {
  width: 100%;
  max-width: 456px;
  padding: 32px 28px 48px 36px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 240px;
  background-color: $color-background-variant;

  .button {
    width: 100%;
    padding: 10px 24px;
    max-width: 392px;
    height: 56px;
  }
}

.hidden {
  display: none;
}
